.products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.add__btn{
    margin-top: 20px;
}
