.item-box{
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-box img {
    width: 250px;
}

.item-box h2 {
    width: 300px;
    text-align: center;
}
