.comment-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #000;
    margin: 2px;
}

.comment__description{
    text-align: left;
    font-size: 20px
}

.comment__date{
    font-size: 12px;
    color: rgba(44, 44, 44, 0.89);
}
